<h2>All your blogs:</h2>
{{#each Blogs}}
    <input>{{title}}</input>
    <input>{{body}}</input>
    <button id="updateBlog">Submit</button>
    <button>delete</button>
    <hr>
{{/each}}

<script src="/js/profile.js"></script>